[submodule "electronics/flightcontroller/3dpackages/Connectors_Amass.3dshapes.src"]
	path = electronics/flightcontroller/3dpackages/Connectors_Amass.3dshapes.src
	url = https://github.com/realthunder/Connectors_Amass.3dshapes.src
